body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

main {
    width: 75%;
    margin: 0 auto 2rem auto;
    padding: 0 1rem 2rem 1rem;
    background-color: white;
    border-radius: .5rem;
}

h1 {
    text-align: center;
    padding-top: 1rem;
}

legend {
    color: green;
    font-weight: 700;
    text-align: center;
}

fieldset {
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

label {
    display: block;
    padding-top: 0.5rem;
}

label:has(input) {
    display: inline;
}

textarea,
input[type="text"],
select {
    width: 100%;
    border-radius: 0.25rem;
}

select {
    font-weight: 600;
    font-size: 1rem;
    height: 2rem;
}

#submit {
    color: white;
    background-color: green;
    text-decoration: none;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

.err {
    color: red;
    display: none;
}
